@import url('https://rsms.me/inter/inter.css');
@import 'ress';
@import 'custom-properties.css';

body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight-default);
  line-height: var(--lineHeight);
  color: var(--color-text);
  cursor: default;
  user-select: none;
  background: var(--color-bg);
}

:any-link {
  color: var(--color-active);
  text-decoration: none;
  cursor: default;
}

textarea {
  border: 1px solid black;
}
