@import url('https://rsms.me/inter/inter.css');
@import 'ress';
@import 'custom-properties.css';

body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight-default);
  line-height: var(--lineHeight);
  color: var(--color-text);
  cursor: default;
  user-select: none;
  background: var(--color-bg);
}

:any-link {
  color: var(--color-active);
  text-decoration: none;
  cursor: default;
}

#plugin {
  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--spacing-default) var(--spacing-default) var(--spacing-options);
}

.textarea {
  position: relative;
  display: flex;
  flex: 1;
}

.textarea-content {
  flex: 1;
  width: 100%;
  padding: var(--spacing-text);
  font-size: var(--fontSize-textArea);
  line-height: var(--lineHeight-textArea);
  resize: none;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-default);

  &::placeholder {
    color: var(--color-text-sub);
  }

  &:disabled {
    background-color: var(--color-textarea-disabled);
  }

  &:not(:disabled):focus {
    border: 1px solid var(--color-active);
    outline: 1px solid var(--color-active);
    outline-offset: -2px;
  }
}

.textarea-return {
  position: absolute;
  right: var(--spacing-text);
  bottom: var(--spacing-text);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: var(--radius-default);

  &.is-disabled {
    pointer-events: none;
    opacity: 0.25 !important;
  }

  &:hover {
    background-color: var(--color-return-button-bg);
    opacity: 1;
  }
}

/* options */
.options {
  padding-top: var(--spacing-options);
  background: var(--color-bg);
}

.options-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--height-row-small);
}

/* segmented control */
.segmentedControl {
  position: relative;
  display: flex;
  margin-right: -2px;
  border: 2px solid transparent;

  &:hover {
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      border: 1px solid var(--color-segmented-control-bg);
      border-radius: var(--radius-default);
    }
  }
}

.segmentedControl-segment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: var(--radius-default);

  & img {
    width: 16px;
    height: 16px;
  }

  @nest .segmentedControl.is-false & {
    &:first-child {
      background-color: var(--color-segmented-control-bg);
    }

    &:last-child {
      background-color: transparent;
    }
  }

  @nest .segmentedControl.is-true & {
    &:first-child {
      background-color: transparent;
    }

    &:last-child {
      background-color: var(--color-segmented-control-bg);
    }
  }
}
